@model BookStore.Models.Book

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Images/logo.png" rel="icon" />
    <link href="~/Css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Css/Index.css" rel="stylesheet" />
    <link href="~/Css/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@Model.bookTitle Details</title>
    <style>
        /*coordinating the content of the movie*/
        .parent-div {
            margin-left: 50px !important;
        }
        /*coordinating the info after every title*/
        p {
            margin-left: 50px !important;
        }
        /*coordinating the back button*/
        .btn {
            margin-left: 50px !important;
        }
    </style>

</head>
<body>
    <!--start navbar-->
    <nav class="navbar navbar-expand-sm">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">E-bookstore</a>
            <!--button in case mobile-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav">
                    <li class="nav-item row" style="flex-direction:row; align-items:center; flex-wrap:nowrap">
                        <i class="fa fa-shopping-cart col-1" aria-hidden="true"></i>
                        @Html.ActionLink("Your Cart", "../UserOrderedBooks/Index", new { id = Convert.ToInt32(Session["ID"]) }, new { @class = "nav-link col-10" })
                    </li>
                </ul>
                <!--show when user login-->
                @if (Session["username"] != null)
                {
                    <div class="d-flex" id="user_login">
                        @if (Session["username"].ToString() == "Admin")
                        {
                            <a id="user_name" class="nav-link" style="text-decoration:underline;" href="@Url.Action("func", "Admins")">@Session["UserName"].ToString()</a>
                        }
                        else
                        {
                            <a id="user_name" class="nav-link" style="text-decoration:underline;" href="@Url.Action("EditUserInfo/" + Convert.ToInt32(Session["ID"]) , "Users")">@Session["UserName"].ToString()</a>
                        }
                        @Html.ActionLink("Logout", "../Home/Logout", null, new { @class = "nav-link" })
                    </div>
                }
                else
                {
                    <div class="d-flex" style="align-items: center;" id="guest">
                        @Html.ActionLink("Sign up", "../Users/SignUp", null, new { @class = "nav-link" })
                        /
                        @Html.ActionLink("Login", "../Users/Login", null, new { @class = "nav-link" })
                    </div>
                }
            </div>
        </div>
    </nav>
    <!--end navbar-->
    <div>
        <h4>@Model.bookTitle</h4>
        <hr />

        <div class="parent-div">

            <h4>Book Name:</h4>
            <p>
                @Html.DisplayFor(model => model.bookTitle)
            </p>

            <h4>Book Descrption:</h4>
            <p>
                @Html.DisplayFor(model => model.bookDiscription)
            </p>

            <h4>Book photo:</h4>
            <p>
                <img class="col-md-4" src="~/Images/BooksCovers/@Model.bookImage" alt="@Model.bookTitle" style="height:30%; width:30%" />
            </p>

            <h4>Book Price:</h4>
            <p>
                @Html.DisplayFor(model => model.bookPrice)
            </p>

            <h4>The Book Available Quantity:</h4>
            <p>
                @Html.DisplayFor(model => model.bookQuantity)
            </p>

        </div>

    </div>

    <p>
        @if (Session["ID"] != null)
        {
            @Html.ActionLink("Add to card", "../UserOrderedBooks/AddToCart/" + Model.bookId, null, new { @Class = "btn btn-dark" })

        }
        else
        {
            @Html.ActionLink("Add to card", "../Users/Login", null, new { @Class = "btn btn-dark" })
        }
        @Html.ActionLink("Back to List", "Index", null, new { @Class = "btn btn-dark" })
    </p>

    <!--start footer-->
    <footer>
        <div class="container">
            <h3>Copyrights © 2022 All rights reserved</h3>
        </div>
    </footer>
    <!--end footer-->
</body>
</html>
