@model IEnumerable<BookStore.Models.Book>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>E-book store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="15x15" href="~/Images/logo.png">
    <link href="~/Css/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="~/Css/index.css" rel="stylesheet" />
    <style>
        .navbar .navbar-nav {
            margin-right: 45%;
        }

        .navbar .navbar-brand {
            margin-right: 35%
        }

        .books .card {
            margin: 15px !important;
            padding: 15px 30px !important;
            border-radius: 10px;
            border: 1px solid gray;
            border-radius: 5px;
        }

            .books .card:hover {
                box-shadow: 0px 8px 16px 0px #808080;
                border-color: transparent;
            }

        .books a {
            margin-top: 15px
        }
    </style>


</head>

<body>
    <!--start navbar-->
    <nav class="navbar navbar-expand-sm">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">E-bookstore</a>
            <!--button in case mobile-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav">
                    <li class="nav-item row" style="flex-direction:row; align-items:center; flex-wrap:nowrap">
                        <i class="fa fa-shopping-cart col-1" aria-hidden="true" ></i>
                        @Html.ActionLink("Your Cart", "../UserOrderedBooks/Index", new { id = Convert.ToInt32(Session["ID"]) }, new { @class = "nav-link col-10" })
                    </li>
                </ul>
                <!--show when user login-->
                @if (Session["username"] != null)
                {
                    <div class="d-flex" id="user_login">
                        @if (Session["username"].ToString() == "Admin")
                        {
                            <a id="user_name" class="nav-link" style="text-decoration:underline;" href="@Url.Action("CreateBook", "Books")">Add Book</a>
                        }
                        else
                        {
                            <a id="user_name" class="nav-link" style="text-decoration:underline;" href="@Url.Action("EditUserInfo/" + Convert.ToInt32(Session["ID"]) , "Users")">@Session["UserName"].ToString()</a>
                        }
                        @Html.ActionLink("Logout", "../Home/Logout", null, new { @class = "nav-link" })
                    </div>
                }
                else
                {
                    <div class="d-flex" style="align-items: center;" id="guest">
                        @Html.ActionLink("Sign up", "../Users/SignUp", null, new { @class = "nav-link" })
                        /
                        @Html.ActionLink("Login", "../Users/Login", null, new { @class = "nav-link" })
                    </div>
                }
            </div>
        </div>
    </nav>
    <!--end navbar-->
    <!--start site opening-->
    <div class="books">
        <div class="container">
            <br />
            <h3 class="h3-underline">All books</h3>
            <div class="row justify-content-around">

                @foreach (var item in Model)
                {
                    <div class="col-3 card ">
                        <h6>@Html.DisplayFor(modelItem => item.bookTitle)</h6>
                        <div>
                            <img class="col-md-4" src="~/Images/BooksCovers/@item.bookImage" alt="@item.bookTitle" style="height:100%; width:100%" />
                        </div>
                        <div>
                            @if (Session["username"] != null && Session["username"].ToString() == "Admin")
                            {
                                @Html.ActionLink("Edit Book Info", "../Admins/EditBook", new { id = item.bookId }, new { @class = "btn btn-dark w-100" })
                            }
                            else
                            {
                                @Html.ActionLink("The Book Info", "/Details", new { id = item.bookId }, new { @class = "btn btn-dark w-100" })
                                @Html.ActionLink("Add to cart", "../UserOrderedBooks/AddToCart", new { id = item.bookId }, new { @class = "btn btn-success w-100" })
                            }
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
    <!--end site opening-->
    <!--start footer-->
    <footer>
        <div class="container">
            <h3>Copyrights © 2022 All rights reserved</h3>
        </div>
    </footer>
    <!--end footer-->
</body>

</html>
